<div class="margin"></div>
<div class="center">
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Old Password"
      type="text"
      [(ngModel)]="user.old"
      name="password"
    />
  </mat-form-field>
</div>
<div class="center">
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="New Password"
      type="text"
      [(ngModel)]="user.newPass"
      name="password"
    />
  </mat-form-field>
</div>
<!-- <div class="center">
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Confirm New Password"
      type="text"
      name="password"
    />
  </mat-form-field>
</div> -->
<p class="center">
  <button mat-stroked-button (click)="changepass()" color="primary">
    Confirm New Password
  </button>
</p>
{{ user | json }}
